body {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    background-color: rgba(255,255,255,1);
}

a {

    float: right;
}
form {
    text-align: left;

}

img{
    display: block;
    margin: auto;
}